<h1>About</h1>
<hr>
<br/>
<h4>The General Stuff</h4>
<hr>
<p>The U.S. Winery Database was created by Scott Douglass for the class 'Wines of the World' at Rochester Institute of Technology. It was created to fulfill the project part of the course. The database that is used by this project is populated with 6302 wine producers and blenders that are located within the United States.</p>


<br/><br/>
<h4>The Technical Stuff</h4>
<hr>
<p>This web database application was written using Ruby on Rails v. 3.2.2. It uses a MySQL back-end database to store the information on the wineries. In addition, it uses technologies such as jQuery for some additional features. The layout of the site is done in part through the use of Bootstrap, an open-source UI template built by Twitter. The information gathered on the wineries was acquired from <a href="http://www.factual.com/" target="_blank">www.factual.com</a> and is available there use under the Creative Commons license.</p>

<br/><br/>
<h4>The Personal Stuff</h4>
<hr>
<p>I, at the time of this site's creation, am a fifth-year RIT student majoring in Information Technology with a concentration in Web Development and Database and a minor in Advertising and Public Relations. I will graduate in May, 2012. I also accept freelance work.