$backgroundColor: #fff3d4;
$fontColor: #f7f5ef;

body{
	background-color:$backgroundColor;
}

#centered{
	width:150px;
	height:150px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-75px;
	margin-left:-75px;
}

@mixin backgroundGradient($topColor, $bottomColor){
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($topColor), to($bottomColor));
    background-image: -webkit-linear-gradient(top, $topColor, $bottomColor);
    background-image:    -moz-linear-gradient(top, $topColor, $bottomColor);
    background-image:     -ms-linear-gradient(top, $topColor, $bottomColor);
    background-image:      -o-linear-gradient(top, $topColor, $bottomColor); 
}